.block-1{
  margin-top: 20px;
  box-shadow: 0 2px 0 0 #c6c4c4;
  height: 100px;
  border-radius: 10px;
}
.block-2{
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 0 0 #c6c4c4;
  height: 340px;
}
.block-4{
  margin-top: 50px;
  height: 430px;
  border-radius: 10px;
  box-shadow: 0 2px 0 0 #c6c4c4;
  overflow-y: auto;
  overflow-x: hidden;
}
.block-3{
  margin-top: 50px;
  height: 430px;
  border-radius: 10px;
  box-shadow: 0 2px 0 0 #c6c4c4;
}
.icons{
  margin: 15px;
}
.text{
  color: #A6ACBE;
  font-size: 13px;
  margin-top: -5px;
}
.col-8 h3{
  padding-top: 23px;
}
.study{
  margin: 30px 0 30px 0;
}
.col-2 {
  display: flex;
  align-items: center;
  align-content: center;
  color: #A6ACBE;
  font-size: 15px;
}
.color-1{
  margin-right: 10px;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #6F52ED;
}
.color-2{
  margin-right: 10px;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #FF7A00;
}
.col .col img{
  padding-top: 20px;
}
.text2{
  color: #A6ACBE;
}
.img2{
  margin: 45px 63px 25px 63px;
}
.col-9{
  color: #A6ACBE;
  display: flex;
  font-size: 15px;
}
.col-3{
   p{
    font-size: 15px;
    color: #A6ACBE;
     b{
       color: black;
     }
   }
}
@mixin colors($color){
  margin: 7px 5px 0 10px;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: $color;
}
.color-3{
  @include colors(#6F52ED);
}
.color-4{
  @include colors(#FFB800);
}
.color-5{
  @include colors(#FF4C61);
}
.color-6{
  @include colors(#33D69F);
}


